<!-- Menu topo -->
<mat-toolbar color="primary" class="navbar">
  <span class="logo">Minha Fazenda</span>

  <span class="spacer"></span>

  <!-- Botão de menu (visível só no mobile) -->
  <button mat-icon-button (click)="drawer.toggle()" class="mobile-toggle">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Navegação padrão (visível no desktop) -->
  <nav class="desktop-menu">
    <button mat-button routerLink="/controls/team">
      <mat-icon>people</mat-icon>
      Equipe
    </button>

    <button mat-button routerLink="/controls/property-form">
      <mat-icon>home</mat-icon>
      Propriedade
    </button>

    <button mat-button [matMenuTriggerFor]="pecuariaMenu">
      <mat-icon>pets</mat-icon>
      Pecuária
    </button>
    <mat-menu #pecuariaMenu="matMenu">
      <button mat-menu-item routerLink="/pecuaria/Bovinocultura">
        <mat-icon>arrow_forward_ios</mat-icon>
        Bovino Cultura
      </button>
      <button mat-menu-item routerLink="/pecuaria/Suinocultura">
        <mat-icon>arrow_forward_ios</mat-icon>
        Suino Cultura
      </button>
      <button mat-menu-item routerLink="/pecuaria/Avicultura">
        <mat-icon>arrow_forward_ios</mat-icon>
        Avi Cultura
      </button>
      <button mat-menu-item routerLink="/pecuaria/Ovinocultura">
        <mat-icon>arrow_forward_ios</mat-icon>
        Ovino Cultura
      </button>
      <button mat-menu-item routerLink="/pecuaria/Caprinocultura">
        <mat-icon>arrow_forward_ios</mat-icon>
        Caprino Cultura
      </button>
      <button mat-menu-item routerLink="/pecuaria/Equinocultura">
        <mat-icon>arrow_forward_ios</mat-icon>
        Equino Cultura
      </button>
      <button mat-menu-item routerLink="/pecuaria/Asinocultura">
        <mat-icon>arrow_forward_ios</mat-icon>
        Asino Cultura
      </button>
      <button mat-menu-item routerLink="/pecuaria/Apicultura">
        <mat-icon>arrow_forward_ios</mat-icon>
        Api Cultura
      </button>
      <button mat-menu-item routerLink="/pecuaria/AnimaisSilvestres">
        <mat-icon>arrow_forward_ios</mat-icon>
        Animais Silvestres
      </button>
    </mat-menu>
  </nav>
</mat-toolbar>

<!-- Menu lateral para mobile -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over" class="mobile-sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/home/team">
        <mat-icon>people</mat-icon>
        Equipe
      </a>
      <a mat-list-item routerLink="/propriedade">
        <mat-icon>home</mat-icon>
        Propriedade
      </a>
      <a mat-list-item routerLink="/pecuaria/gado">
        <mat-icon>pets</mat-icon>
        Gado
      </a>
      <a mat-list-item routerLink="/pecuaria/avicultura">
        <mat-icon>arrow_forward_ios</mat-icon>
        Avicultura
      </a>
    </mat-nav-list>
  </mat-sidenav> 
</mat-sidenav-container>
