:root {
  // Verdes
  --color-primary: #4B7F52;       // Verde Musgo Escuro
  --color-secondary: #88B04B;     // Verde Folha Suave
  --color-accent: #D9EAD3;        // Verde Claro Pastel

  // Marrons
  --color-brown-base: #6E5849;    // Marrom Madeira
  --color-brown-light: #A1887F;   // Marrom Claro / Areia

  // Fundos e Texto
  --color-background: #F5F5DC;    // Creme Claro
  --color-text: #333333;          // Preto Suave
}