<div class="background"></div>
<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <img mat-card-image src="/assets/login.png" alt="imagem de login" />
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Digite seu email"
            formControlName="email"
          />
          <mat-error
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
          >
            Email inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Senha</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="Digite sua senha"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            type="button"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
          >
            Senha obrigatória
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="full-width"
          type="submit"
        >
          <div class="centered-container">
            @if (!isLoadApi) {
            <ng-container>
              <label for="Cadastrar">ENTRAR</label>
            </ng-container>
            } @else {
            <mat-spinner [diameter]="20" />
            }
          </div>
        </button>
      </form>
    </mat-card-content>

    <mat-card-actions class="footer-actions">
      <a href="">Esqueceu a senha?</a>
      <div>
        <samp>Não tem conta ? </samp>
        <a routerLink="/auth/register">Cadastar</a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
