.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.footer-actions {
  justify-content: flex-end;
}
