<mat-card class="funcionarios-container">
  <div class="header">
    <h2>Funcionários</h2>
    <button mat-raised-button color="primary" (click)="openModal()">
      <mat-icon>assignment_ind</mat-icon> Cadastrar
    </button>
  </div>
  <form
    [formGroup]="filtroForm"
    (ngSubmit)="aplicarFiltro()"
    class="filtro-form"
  >
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" placeholder="Buscar por nome" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" placeholder="Buscar por CPF" />
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">
      <mat-icon>search</mat-icon> Filtrar
    </button>
    <button
      mat-stroked-button
      color="warn"
      type="button"
      (click)="limparFiltro()"
    >
      <mat-icon>close</mat-icon> Limpar
    </button>
  </form>


 <app-generic-table
  [dataSource]="dataSource"
  [displayedColumns]="displayedColumns"
  [columnLabels]="columnLabels"
  [totalItems]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  (pageChange)="onPageChange($event)"
  (visualizar)="visualizarFuncionario($event)"
  (editar)="editarFuncionario($event)"
  (excluir)="excluirFuncionario($event)"
></app-generic-table>


  </mat-card>

<app-register-team
  [isOpen]="showModal"
  (closeModal)="closeModal()"
  [dataDepartament]="departaments"
/>
