<app-base-modal
  [isOpen]="isOpen"
  (closeModal)="close.emit()"
  title="Cadastro de fazenda"
  icon="agriculture"
>
  <mat-horizontal-stepper #stepper class="form-container">
    <mat-step [stepControl]="formProperty" errorMessage="Name is required.">
      <form [formGroup]="formProperty">
        <ng-template matStepLabel>Dados Gerais</ng-template>

        <div class="grid-form">
          <mat-form-field appearance="outline">
            <mat-label>CNPJ</mat-label>
            <input matInput MaskDefault="cnpj" formControlName="cnpj" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Razão Social</mat-label>
            <input matInput formControlName="company" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nome Fantasia</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Situação</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let s of statusProp" [value]="s.key">{{
                s.view
              }}</mat-option>
            </mat-select>
          </mat-form-field>

           <app-input-chips
              [label]="'Atividades'"
              [placeholder]="'Atividades'"
              [options]="activityProp"
              formControlName="propertyActivities"
            />


          <mat-form-field appearance="outline" class="desc">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="description" />
          </mat-form-field>
        </div>

        <div class="actions">
          <button mat-button matStepperNext [disabled]="formProperty.invalid">
            Próximo
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="formAddress" errorMessage="Name is required.">
      <form [formGroup]="formAddress">
        <ng-template matStepLabel>Endereço</ng-template>

        <div class="grid-form">
          <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <input
              matInput
              MaskDefault="cep"
              formControlName="cep"
              (change)="searchCEP()"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Rua</mat-label>
            <input matInput formControlName="place" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input matInput formControlName="number" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Complemento</mat-label>
            <input matInput formControlName="complement" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput formControlName="neighborhood" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput formControlName="city" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>UF</mat-label>
            <mat-select formControlName="uf">
              <mat-option *ngFor="let s of uf" [value]="s">{{ s }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="actions">
          <button mat-button matStepperPrevious>
            <mat-icon>reply_all</mat-icon>Voltar
          </button>
          <button mat-button matStepperNext [disabled]="formAddress.invalid">
            <mat-icon>arrow_forward</mat-icon>
            Próximo
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="formPoints" errorMessage="Name is required.">
      <form [formGroup]="formPoints">
        <ng-template matStepLabel>Mapa</ng-template>

        <mat-form-field appearance="outline" style="width: 100%;margin-top: 5px;">
          <mat-label>Tamanho </mat-label>
          <input matInput type="text"  formControlName="size" SquareMeters/>
          <mat-hint style="font-size: 80%; color: blue"
            >*gera automaticamente ao definir no mapa</mat-hint
          >
        </mat-form-field>
        <app-map
          #mapComp
          (returnPoints)="onMapPointsReturn($event)"
          (returnSize)="onSize($event)"
        />
        <div class="actions">
          <button mat-button matStepperPrevious>
            <mat-icon>reply_all</mat-icon>Voltar
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="onSubmit(stepper)"
            [disabled]="
              !formProperty.valid ||
              !formAddress.valid ||
              !formPoints.valid ||
              isLoadApi
            "
            style="display: flex"
          >
            <div class="centered-container">
              @if (!isLoadApi) {
              <ng-container>
                <mat-icon>add_circle</mat-icon>
                <label for="Cadastrar">Cadastrar</label>
              </ng-container>
              } @else {
              <mat-spinner [diameter]="20" />
              }
            </div>
          </button>

        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</app-base-modal>
