@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");



body {
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Nunito Sans', "Helvetica Neue", sans-serif ;
}