<main class="container">
  <button mat-raised-button color="primary" (click)="modalBovine= true">
    <mat-icon>reply_all</mat-icon> add bovine
  </button>
  <mat-tab-group>
    <mat-tab label="Propriedade"> Propriedade </mat-tab>
    <mat-tab label="Pecuário">
      <mat-tab-group>
        <mat-tab label="Geral"> Propriedade </mat-tab>
        <mat-tab label="Corte"> Corte </mat-tab>
        <mat-tab label="Leite"> Leite </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
</main>
<app-register-bovine
  (close)="modalCloseAddBovine()"
  [isOpen]="modalBovine"
></app-register-bovine>
